.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 64px;
  background-size: cover;
  background-position: center;
  background-image: url('../../assets/images/hero-img.jpg');
  background-color: rgba(0, 0, 0, 0.2);
  height: 93vh;
}

.titlesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color: #f7f7f7;
}

.subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #f7f7f7;
}